<div class="">
  <h2><%= @article.name %></h2>
  タグ:<% @article.tag_list.each do |tag| %>
    <%=link_to tag, articles_path(tag_name: tag), class: "tag"%>
  <% end %>
  <p class=""><%= link_to "投稿者:" + @article.user.name, user_path(@article.user) %>　　作成日:<%= @article.created_at.strftime("%Y年%m月%d日") %></P>
</div>
<% if @article.image? %>
  <%= image_tag @article.image.url, class: "" %>
<% else %>
<% end %>
<div class="content">
  <p class=""><%= content_tag :div, @article.content, class: "" %></p>

  <% if current_user == @article.user %>
    <%= link_to '更新', edit_article_path(@article), class: 'link-btn' %>
    <%= link_to '削除', @article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-btn' %>
  <% end %>
  <% if logged_in? %>
    <% if @article.favorited_by?(current_user) %>
        <%=link_to 'お気に入り解除', article_favorites_path(@article.id), method: :delete, class: 'link-btn' %>
    <% else %>
        <%=link_to 'お気に入り', article_favorites_path(@article.id), method: :post, class: 'link-btn' %>
    <% end %>
  <% end %>
  <%= link_to '戻る', articles_path, class: 'link-btn' %>
</div>

<h6>コメント:<%= @article.comments.count %>件</h6>
<% if logged_in? %>
  <%= form_for([@article,@article.comments.build]) do |f| %>
     <%= f.text_field :content%>
     <%= f.button 'コメントする' %>
  <% end %>
<% end %>
<% @comments.each do |comment| %>
<p class="comment">
  <%= content_tag :span, comment.user.name, class: "" %>:
  <%= content_tag :span, comment.content, class: "" %>
</p>
<% end %>
