<div class="text-center back">
  <h1>プロフィール編集</h1>
  <p>必要な箇所のみ入力し、変更ボタンを押してください</p>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3 back">

    <%= form_with(model: @user, local: true) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <div class="form-group">
        <%= f.label :name, 'ユーザー名' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワード確認' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :profile_image, 'プロフィール画像' %>
        <%= f.file_field :image, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :introduction, 'プロフィール' %>
        <%= f.text_area :introduction, class: 'form-control' %>
      </div>

      <%= f.submit '変更', class: 'btn-border btn-block' %>
    <% end %>
  </div>
</div>