<div class="">
  <%= form_tag users_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search], placeholder:"ユーザー名、プロフィール" %>
      <%= submit_tag "ユーザーの検索" %>
  <% end %>
</div>

<%= render 'users', users: @users %>
<div><%= paginate @users %></div>