<div class="">
  <h1>ユーザー作成</h1>
  <p>画像以外は全て入力してください</p>
</div>

<div class="">
  <div class="">

    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-set">
        <%= f.label :name, 'ユーザー名' %>
        <%= f.text_field :name, class: 'form-field' %>
      </div>
      
      <div class="form-set">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-field' %>
      </div>

      <div class="form-set">
        <%= f.label :password_confirmation, 'パスワード確認' %>
        <%= f.password_field :password_confirmation, class: 'form-field' %>
      </div>
      
      <div class=form-set"">
        <%= f.label :profile_image, 'プロフィール画像' %>
        <%= f.file_field :image, class: '' %>
      </div>
      
      <div class="form-set">
        <%= f.label :introduction, 'プロフィール' %>
        <%= f.text_area :introduction, class: 'form-field' %>
      </div>

      <%= f.submit '入会', class: 'form-btn' %>
    <% end %>
  </div>
</div>